@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-brand-500: #e11d48; /* Une couleur rouge/rose dynamique */
  --color-brand-600: #be123c;
}

body {
    background-color: #f3f4f6;
    font-family: var(--font-sans);
}